#services {
    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;

        article {
            @include gradientBackground;
            padding: 1.5rem;
            border-radius: 1rem;
            display: flex;
            gap: 1.5rem;
            height: fit-content;
            transition: all 400ms ease;

            &:hover {
                margin-top: -0.5rem;
            }

            i {
                font-size: 1.7rem;
            }

            div {
                h4 {
                    margin-bottom: 1rem;
                }
            }
        }
    }
}

/*======================================== MEDİA QUERİES (MEDİUM DEVİCES) ========================================*/
@media screen and (max-width: 1024px) {
    #services {
        .container {
            gap: 1rem;
            grid-template-columns: 1fr 1fr;

            article {
                padding: 1.2rem;
                gap: 0.8rem;

                &:hover {
                    margin: 0;
                }
            }
        }
    }
}

/*======================================== MEDİA QUERİES (SMALL DEVİCES) ========================================*/
@media screen and (max-width: 600px) {
    #services {
       .container {
        grid-template-columns: 1fr;

        article {
            h4 {
                margin-bottom: 0.8rem;
            }
        }
       }
    }        
}